@model VideoGame.Models.GameDeveloperDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameDeveloperDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeveloperId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
